<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name = "Academy.ListenersDemo"/>
</listeners>





	<test name="NavigationBarValidationTest">
		<classes>
			<class name="Academy.NavigationBarValidation" />
		</classes>
	</test>


	<test name="HomePageTest">
		<classes>
			<class name="Academy.HomePage" />
		</classes>
	</test>




	<test name="ValidatingTitleTest">
		<classes>
			<class name="Academy.ValidatingTitle" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
